:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --bg-support: hsla(238, 22%, 44%, 1);
    --text-support-footer: #FFFFFF;
    --bg-background-footer: hsla(243, 87%, 12%, 1);
}

:root {
    --font-family-title-button-links: 'Raleway', sans-serif;
    --font-family-title-text: 'Open Sans', sans-serif;
}

